* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif; 
  background: #f1f1f1;
}

header {
  text-align: center;

}

.encabezado{
  background-image: url("https://as2.ftcdn.net/v2/jpg/02/52/20/57/1000_F_252205753_3fDbfVVj6NjCMndiHzb3xCEuHa6wlTEf.jpg");
  background-size: cover;
  height: 100vh;

}

header h1 {
  padding: 1.875rem;
  font-size: 50px;
}

h2, h3{
  color: rgb(10, 4, 19)
}

.text1, .text{
  font-family: 'Dancing Script', cursive;
  
}

.foto{
  margin-top: 20%;
  height: 80%;
  width: 80%;
  border-radius: 50%;
  box-shadow: 2px 30px 10px rgba(0, 0, 0, 0.5);
  opacity: 0.9;
}

/* Footer */
footer {
  padding: 1.25rem;
}

/* Responsive */
@media screen and (max-width: 800px) {
  aside,
  .contenido {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout  */
@media screen and (max-width: 400px) {
  nav a {
    float: none;
    width: 100%;
  }
}