* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif; 

  background: #f1f1f1;
}

header {
  text-align: center;
  background-image: url("https://img.freepik.com/premium-photo/css-javascript-html-usage-monitor-closeup-function-source-code-abstract-it-technology-background-software-source-code_372999-1060.jpg?w=2000");
  background-size: cover;
  height: 100vh;

}

header h1 {
  padding: 1.875rem;
  font-size: 50px;
}

h2, h3{
  color: #333
}

.text1, .text{
  font-family: 'Dancing Script', cursive;
  
}

/* Style navbar */
nav {
  overflow: hidden;
  background-color: #333;
}

/* Style links */
nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
nav a:hover {
  background-color: #ddd;
  color: black;
}

.contenido {
  float: left;
  width: 75%;
}

aside {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

#foto {
  margin-top: 0%;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

/* Boxes */
.card {
  background-color: lightgray;
  padding: 20px;
  margin-top: 20px;
}

/* Organice footer */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive */
@media screen and (max-width: 800px) {
  aside,
  .contenido {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout  */
@media screen and (max-width: 400px) {
  nav a {
    float: none;
    width: 100%;
  }
}