 .carousel-inner,
 .carousel-item,
 .carousel-item.active {
   height: 100vh;
 }

 .carousel-item:nth-child(1) {
   background-image: url('../img/banner.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
 }

 h1{
  padding-top: 20px;
 }

 .foto {
  margin-top: 0%;
  height: 70%;
  width: 70%;
  border-radius: 100%;
  box-shadow: 25px 25px 25px 2px rgba(32,32,32,0.3);
}

 footer{
  padding-bottom: 20px;
 }

 /* Height for devices larger than 576px */
 @media (min-width: 992px) {
   #introCarousel {
     margin-top: -58.59px;
   }
 }

 .navbar .nav-link {
   color: #fff !important;
 }